force-app/main/default/flows/Verify_Identity_with_App_Event_Logging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Log_Flow_Invoked</name>
        <label>Copy 1 of Log Flow Invoked</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>rflib_LoggerFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Log_Event_Verify_Identity_No_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>context</name>
            <value>
                <stringValue>VerifyIdentityFlow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>No contact found for Firstname: {!First_Name_Input} and Lastname: {!Last_Name_Input}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rflib_LoggerFlowAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FS_Postal_Code_Enabled</name>
        <label>FS Postal Code Enabled</label>
        <locationX>864</locationX>
        <locationY>1214</locationY>
        <actionName>rflib_GetFeatureSwitchValueAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Postal_Code_Verification_Is_Enabled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>Verify_Identify_Postal_Code_Check_Enabled</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rflib_GetFeatureSwitchValueAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Event_Verify_Identity_Invoked</name>
        <label>Log Event Verify Identity Invoked</label>
        <locationX>319</locationX>
        <locationY>350</locationY>
        <actionName>rflib_ApplicationEventLoggerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_Name_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventName</name>
            <value>
                <stringValue>flow-verify-identity-invoked</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rflib_ApplicationEventLoggerAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Event_Verify_Identity_No_Bday</name>
        <label>Log Event Verify Identity - Bday Not Found</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <actionName>rflib_ApplicationEventLoggerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>birthdate_postal_not_found_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventName</name>
            <value>
                <stringValue>verify-identity-failed-no-bday</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rflib_ApplicationEventLoggerAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Event_Verify_Identity_No_Name</name>
        <label>Log Event Verify Identity - Name Not Found</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>rflib_ApplicationEventLoggerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Name_Not_Found_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventName</name>
            <value>
                <stringValue>verify-identity-failed-no-name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rflib_ApplicationEventLoggerAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Event_Verify_Identity_No_Postal</name>
        <label>Log Event Verify Identity - Postal Code Not Found</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <actionName>rflib_ApplicationEventLoggerAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventName</name>
            <value>
                <stringValue>verify-identity-failed-no-postal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rflib_ApplicationEventLoggerAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Event_Verify_Identity_Success</name>
        <label>Log Event Verify Identity - Success</label>
        <locationX>864</locationX>
        <locationY>2138</locationY>
        <actionName>rflib_ApplicationEventLoggerAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>eventName</name>
            <value>
                <stringValue>verify-identity-ssuccess</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>rflib_ApplicationEventLoggerAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Flow_Invoked</name>
        <label>Log Flow Invoked</label>
        <locationX>319</locationX>
        <locationY>134</locationY>
        <actionName>rflib_LoggerFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Stage_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>context</name>
            <value>
                <stringValue>VerifyIdentityFlow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow Invoked {!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>rflib_LoggerFlowAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Stage_1</name>
        <label>Assign Stage 1</label>
        <locationX>319</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Name_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Event_Verify_Identity_Invoked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_2</name>
        <label>Assign Stage 2</label>
        <locationX>589</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Birthdate_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Birthdate_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_3</name>
        <label>Assign Stage 3</label>
        <locationX>864</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Postal_Code_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FS_Postal_Code_Enabled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_4</name>
        <label>Assign Stage 4</label>
        <locationX>864</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identity_Verified_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_Event_Verify_Identity_Success</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Postal_Code_Verification_Is_Enabled</name>
        <label>Check If Postal Code Verification Is Enabled</label>
        <locationX>864</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Verification Disabled</defaultConnectorLabel>
        <rules>
            <name>Verification_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FS_Postal_Code_Enabled.isTurnedOn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Postcode_Screen</targetReference>
            </connector>
            <label>Verification Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_birthdate_exist</name>
        <label>Does birthdate exist</label>
        <locationX>589</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Birthdate_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Birthdate_Variable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Event_Verify_Identity_No_Bday</targetReference>
            </connector>
            <label>Birthdate not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>319</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Id_Variable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Log_Flow_Invoked</targetReference>
            </connector>
            <label>Contact Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_postal_exist</name>
        <label>Does postal exist</label>
        <locationX>710</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Postal_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Postcode_Variable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Event_Verify_Identity_No_Postal</targetReference>
            </connector>
            <label>Postal not found</label>
        </rules>
    </decisions>
    <formulas>
        <name>User_Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>Verify Identity with App Event logging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Identity with App Event Logging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contact_Lookup_by_Name</name>
        <label>Contact Lookup by Name</label>
        <locationX>319</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name_Input</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Birthdate_Variable</assignToReference>
            <field>Birthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact_Id_Variable</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Postcode_Variable</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>birthdate_postal_not_found_screen</name>
        <label>Name Not Found</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Birth_postal_not_found</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(62, 62, 60);&quot;&gt;Missing birth date or postal code&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>birthdate_postal_not_found_script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Birthdate_postal_not_found_call_script</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Name_Not_Found_Screen</name>
        <label>Name Not Found</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Name_Screen</targetReference>
        </connector>
        <fields>
            <name>Name_Not_Found_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Name Not Found&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_Not_Found_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Name_Not_Found_Script_Text_Template</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Identity Verified</label>
        <locationX>864</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Identity Verified&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Identity_Verified_Script_Text_Template</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Birthdate_Screen</name>
        <label>Verify Birthdate</label>
        <locationX>589</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_birthdate_exist</targetReference>
        </connector>
        <fields>
            <name>Verify_Birthdate_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Verify Birthdate&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Caller_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Verify_Birthdate_Script_Text_Template</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Birthdate_Input</name>
            <dataType>Date</dataType>
            <fieldText>Birthdate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;Birthdate doesn&apos;t match&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Birthdate_Variable} = {!Birthdate_Input}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>No_Birthdate_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Birthdate&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;{!Null_Birthdate_Text_Template}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Name_Screen</name>
        <label>Verify Name</label>
        <locationX>319</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Lookup_by_Name</targetReference>
        </connector>
        <fields>
            <name>Verify_Name_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Verify Name&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Name_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Customer_Name_Script_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Postcode_Screen</name>
        <label>Verify Postal Code</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_postal_exist</targetReference>
        </connector>
        <fields>
            <name>Postcode_Verification_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Verify Postal Code&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Postcode_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Verify_Postcode_Script_Text_Template</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postcode_Display</name>
            <fieldText>&lt;p&gt;Postal Code&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;﻿{!Postcode_Variable}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Postcode_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Postal Code&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;{!Null_Postcode_Text_Template}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Identity_Verified_Stage</name>
        <isActive>true</isActive>
        <label>Identity Verified</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Verify_Birthdate_Stage</name>
        <isActive>true</isActive>
        <label>Verify Birthdate</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Verify_Name_Stage</name>
        <isActive>true</isActive>
        <label>Verify Name</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Verify_Postal_Code_Stage</name>
        <isActive>true</isActive>
        <label>Verify Postal Code</label>
        <stageOrder>3</stageOrder>
    </stages>
    <startElementReference>Log_Flow_Invoked</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Birthdate_postal_not_found_call_script</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We can’t verify your identity at this time. Let me connect you to a supervisor to further assist.</text>
    </textTemplates>
    <textTemplates>
        <name>Customer_Name_Script_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello, I&apos;m {!User_Formula}. With whom am I speaking?</text>
    </textTemplates>
    <textTemplates>
        <name>Flow_Title_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Verify Identity</text>
    </textTemplates>
    <textTemplates>
        <name>Identity_Verified_Script_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Thanks, we verified your identity successfully.</text>
    </textTemplates>
    <textTemplates>
        <name>Name_Not_Found_Script_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hmm, I can&apos;t find any information for that name. Let me try again.</text>
    </textTemplates>
    <textTemplates>
        <name>Null_Birthdate_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;Hmm, we don&apos;t have a birthdate on record to check against.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Null_Postcode_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;Hmm, we don&apos;t have a postal code on record to check against.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Verify_Birthdate_Script_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Thanks, Mr. / Ms. {!Last_Name_Input}. For verification, may I please have your date of birth?</text>
    </textTemplates>
    <textTemplates>
        <name>Verify_Postcode_Script_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>And lastly, can I verify your postal code?</text>
    </textTemplates>
    <variables>
        <name>Birthdate_Variable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Id_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Postcode_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PostCodeCheckEnabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
